深度学习基础与概念/data/cifar-10-python.tar.gz
深度学习基础与概念/data/cifar-10-batches-py/batches.meta
深度学习基础与概念/data/cifar-10-batches-py/data_batch_1
深度学习基础与概念/data/cifar-10-batches-py/data_batch_2
深度学习基础与概念/data/cifar-10-batches-py/data_batch_3
深度学习基础与概念/data/cifar-10-batches-py/data_batch_4
深度学习基础与概念/data/cifar-10-batches-py/data_batch_5
深度学习基础与概念/data/cifar-10-batches-py/readme.html
深度学习基础与概念/data/cifar-10-batches-py/test_batch
